<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File-Box:: 404 Not Found</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/partials.css">
    <style>
        .main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1 0 auto;
        }
        .main img{
            width: 40%;
        }
        @media screen and (max-width: 1440px) {
            .main img{ width: 55%; }
        }

        @media screen and (max-width: 1200px) {
            .main img{ width: 70%; }
        }

        @media screen and (max-width: 1024px) {
            .main img{ width: 80%; }
        }

        @media screen and (max-width: 768px) {
            .main img{ width: 100%; }
        }
    </style>
</head>
<body>
    {{>header}}
        <main class="main">
            <img src="/img/404.jpg" alt="404 error">
        </main>
    {{>footer}}
</body>
</html>