<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure::Share</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{>header}}
    <main class="main">
        <div class="hero-box">
            <h2>
                शेयर करें, सुरक्षित रहें
            </h2>
            <p>
                अपनी फ़ाइलों को दुनिया भर में सुरक्षित रूप से शेयर करने का सबसे आसान तरीका
            </p>
        </div>
        <div class="upload-area">
            <div class="drag-area">
                <button>
                    <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Add Circle</title><path d='M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm80 224h-64v64a16 16 0 01-32 0v-64h-64a16 16 0 010-32h64v-64a16 16 0 0132 0v64h64a16 16 0 010 32z'/></svg>
                </button>
                <header>Add your files</header>
                <span>Up to 10 MB</span>
                <input id="fileinput" type="file" hidden>
            </div>
        </div>
    </main>
    {{>footer}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>