<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure::Share</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <main class="main">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem sed officia maiores dicta enim at? Consequuntur soluta eos laborum iure a inventore quasi. Id quis laudantium odit quaerat culpa laboriosam!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis assumenda dolores maxime veniam nesciunt itaque modi velit ab aliquam ex explicabo, repellat omnis culpa voluptate veritatis officia rerum obcaecati ad.</p>
    </main>
    {{>footer}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>