<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File-Box:: Login</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <main class="main">
        <form class="loginForm" id="loginForm">
            <div class="hero-logo">
                <svg version="1.1" class="hero-img" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<g>
	<g id="user">
		<g>
			<path style="fill:#ffffff;" d="M16,16C9.375,16,4,21.375,4,28c0,2.211,1.789,4,4,4h16c2.211,0,4-1.789,4-4
				C28,21.375,22.625,16,16,16z"/>
			<circle style="fill:#ffffff;" cx="16" cy="6" r="6"/>
		</g>
	</g>
</g>
</svg>
            </div>
            <div class="form__group">
                <label for="emailUsername"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Person</title><path d='M332.64 64.58C313.18 43.57 286 32 256 32c-30.16 0-57.43 11.5-76.8 32.38-19.58 21.11-29.12 49.8-26.88 80.78C156.76 206.28 203.27 256 256 256s99.16-49.71 103.67-110.82c2.27-30.7-7.33-59.33-27.03-80.6zM432 480H80a31 31 0 01-24.2-11.13c-6.5-7.77-9.12-18.38-7.18-29.11C57.06 392.94 83.4 353.61 124.8 326c36.78-24.51 83.37-38 131.2-38s94.42 13.5 131.2 38c41.4 27.6 67.74 66.93 76.18 113.75 1.94 10.73-.68 21.34-7.18 29.11A31 31 0 01432 480z'/></svg></label>
                <input type="text" name="emailUsername" placeholder="username or email" id="emailUsername" required/>
            </div>
            <div class="form__group">
                <label for="password"><svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Key</title><path d='M218.1 167.17c0 13 0 25.6 4.1 37.4-43.1 50.6-156.9 184.3-167.5 194.5a20.17 20.17 0 00-6.7 15c0 8.5 5.2 16.7 9.6 21.3 6.6 6.9 34.8 33 40 28 15.4-15 18.5-19 24.8-25.2 9.5-9.3-1-28.3 2.3-36s6.8-9.2 12.5-10.4 15.8 2.9 23.7 3c8.3.1 12.8-3.4 19-9.2 5-4.6 8.6-8.9 8.7-15.6.2-9-12.8-20.9-3.1-30.4s23.7 6.2 34 5 22.8-15.5 24.1-21.6-11.7-21.8-9.7-30.7c.7-3 6.8-10 11.4-11s25 6.9 29.6 5.9c5.6-1.2 12.1-7.1 17.4-10.4 15.5 6.7 29.6 9.4 47.7 9.4 68.5 0 124-53.4 124-119.2S408.5 48 340 48s-121.9 53.37-121.9 119.17zM400 144a32 32 0 11-32-32 32 32 0 0132 32z'/></svg></label>
                <input type="password" name="password" placeholder="password" id="password" required/>
            </div>
            <div class="form__group apart">
                <div class="remember__me">
                    <input type="checkbox" id="rememberMe"/>
                    <label for="rememberMe">Remember me</label>
                </div>
                <div class="forgot__password">
                    <a class="link" href="/forgotPassword">Forgot Password?</a>
                </div>    
            </div>
            <div class="form__group absolute-div">
                <p class="forgot__password" id="errorMessage"></p>
            </div>
        </form>
        <button class="loginbar" id="loginBar" form="loginForm" type="submit">login</button>
        <div class="loader">
            <div class="spinner"></div>
        </div>
    </main>
    {{>footer}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>