<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File-Box:: {{title}}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/viewFile.css">
    <style>
        .main{
            display: flex;
            flex:1 0 auto; 
            width: 100%;
            align-items:center; 
            justify-content: center;
            flex-direction: column;
        }
        .container{
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            box-shadow: 0 2px 7px rgba(8, 56, 119,0.5);
            background-image: linear-gradient(to right, rgb(228, 197, 197), rgb(157, 182, 221));
        }
        .userData__group{
            display: flex;
            padding: 12px;
            justify-content: flex-start;
            align-items: center;
        }
        .userData-label strong{
            padding: 12px 8px;
            font-size: 22px;
            font-weight: 400;
        }
        .userData-value{
            font-weight: 500;
            font-style: italic;
        }
        @media screen and (max-width: 768px) {
            .container{ background: none;box-shadow: none; width: 100%; margin-top: 60px; }
        }
    </style>
</head>
<body>
    {{>header}}
        <main class="main">
            <div class="container">
                <div class="userData__group">
                    <label class="userData-label">
                        <strong>name:</strong>
                    </label>
                    <h2 class="userData-value">
                        {{user.name}}
                    </h2>
                </div>
                <div class="userData__group">
                    <label class="userData-label">
                        <strong>email:</strong>
                    </label>
                    <h2 class="userData-value">
                        {{user.email}}
                    </h2>
                </div>
                <div class="userData__group">
                    <label class="userData-label">
                        <strong>username:</strong>
                    </label>
                    <h2 class="userData-value">
                        {{user.username}}
                    </h2>
                </div>
            </div>
        </main>
        <div id="messageBox" class="message__box">
            <p id="message" class="message"></p>
        </div>
    {{>footer}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/viewFile.js"></script>
</body>
</html>