<footer class="footer">
        <div class="rights">
                <p>All rights Reserved &copy; 2021 BitsBoys&trade;</p>
        </div>
        <div class="follow">
                <p>powered by</p> <a class="power" href="">BITS.ME-2020 NETSEC PROJECT GRP-7</a>
        </div>
</footer>