<header class="header">
        <h1>File-Box</h1>
        <nav>
                {{#each navbar}}
                        <a id={{this.id}} href="{{this.link}}">{{this.name}}</a>
                {{/each}}
        </nav>
</header>