<header class="header">
        <h1>{{title}}</h1>
        <nav>
                <a href="/upload/file">Upload File</a>
                <a href="/getAllFiles">File List</a>
                <a href="/deleteAllFiles">Delete Files </a>
        </nav>
</header>